**
!.dockerignore
!pyproject.toml
!README.md
!LICENSE
!src/
!src/echo_veil/
!src/echo_veil/*.py
!src/echo_veil_origin/
!src/echo_veil_origin/*.py
!crates/
!crates/echo-veil-zkp/
!crates/echo-veil-zkp/Cargo.toml
!crates/echo-veil-zkp/Cargo.lock
!crates/echo-veil-zkp/src/
!crates/echo-veil-zkp/src/*.rs
!deploy/
!deploy/enclave/
!deploy/enclave/Dockerfile
!deploy/enclave/requirements.lock
!deploy/enclave/openfhe.lock
**/.DS_Store
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
