ECHO_VEIL_PROVIDER_ID=azure-sev-snp-eastus2
ECHO_VEIL_MEASUREMENT=SET_TO_96_HEX_SEV_SNP_LAUNCH_MEASUREMENT
ECHO_VEIL_CCE_POLICY_HASH=SET_TO_64_HEX_CCE_POLICY_HASH
ECHO_VEIL_MAA_POLICY_HASH=SET_TO_APPROVED_MAA_POLICY_HASH
ECHO_VEIL_WORKLOAD_DIGEST=sha256:SET_TO_REVIEWED_IMMUTABLE_IMAGE_DIGEST
ECHO_VEIL_MAA_SIDECAR_URL=http://127.0.0.1:8081/attest/maa
ECHO_VEIL_MAA_ENDPOINT=https://SET_TO_TENANT_REGION.attest.azure.net
ECHO_VEIL_CKKS_KEY_ID=echo-veil-ckks-v1
ECHO_VEIL_AZURE_REGION=eastus2
ECHO_VEIL_TRANSPORT_KEY_FILE=/run/echo-veil/secrets/transport-x25519.key
ECHO_VEIL_ATTESTATION_SIGNING_KEY_FILE=/run/echo-veil/secrets/attestation-ed25519.key
ECHO_VEIL_ORIGIN_TOKEN_FILE=/run/echo-veil/secrets/origin-token
ECHO_VEIL_ALLOWED_PUBLIC_KEYS_FILE=/run/echo-veil/secrets/allowed-zkp-public-keys.json
ECHO_VEIL_ZKP_BINARY=/usr/local/bin/echo-veil-zkp
ECHO_VEIL_CKKS_STATE_DIRECTORY=/var/lib/echo-veil/ckks
